
.parent {
    display: flex; /* Appliquer Flexbox au parent */
    border: blue 2px solid;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center  ;

  }
  
  .child {
    border: 1px solid black;
    padding: 10px;
    
  }
  
  .another-parent {
    border: red 2px solid;
    display: flex;
    flex-direction: column;
  }